# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets / config
config.py
